<div style="margin-left: calc( 50% - 300px ); width: 600px;">
    <div>
        <img src="https://storage.googleapis.com/yiwen_dot_date_img/bw-yiwen-7-small-min.jpg" />
    <div>
    <h2>
        Hello from yiwen!
    </h2>
    <div style="width: 600px;">
        Hello {{ name }}! I'm glad that you've enjoyed looking at the high-res photos of me.
        I'm even more glad that you hit the button to drop me a message--I am really lacking
        social interaction these days so anything helps.
        <br /><br />
        Anyway, I've gone ahead and sent this automated email to let you know that I've
        received your contact info and will be reaching out to you shortly in a more...
        personalized fashion.
        So expect to see another email from me shortly! And, while you wait, I also have
        a nice
        <a href="https://instagram.com/ineverwin">instagram</a>
        and an even nicer
        <a href="https://linkedin.com/in/iamyiwen">linkedin</a>
        for you to stalk.
        Make sure you connect to grow your professional network!
        <br /><br />
        That's it for now, hope to talk to you soon!
        <br /><br />
        Best wishes,
        <br />
        yiwen
    </div>
</div>
